* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(158, 181, 203);
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: white;
}
#game {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(83, 38, 38);
    padding: 2rem;
    gap: 1rem;
}
#controls button {
    padding: .5rem;
    background-color: rgb(158, 181, 203);
}
#controls button:hover {
    border: none;
    padding: .6rem;
    cursor: pointer;
}
#monsterStats {
    display: none;
}

#dragon-Image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
#dragon-Image img {
    width: 10rem;
    height: 10rem;
}